# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Django
*.log
*.sqlite3
local_settings.py
db.sqlite3
db.sqlite3-journal
data_backup_sqlite.json

# Environment
.env
.env.local
.env.production
986
# Media Upload
media/
uploads/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backup/archive
*.zip
*.rar
*.bak
*.backup